#bloc_page
{
    width: 900px;
    margin: auto;
}
    
}
@media all and (max-width: 1024px)
{
	#bloc_page
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
        display: none;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}